body {
  margin: 0;
  font-family: Verdana, sans-serif;
  color: rgb(33, 37, 42);
}

header {
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
  background: rgb(239, 239, 239);
}

main {
  display: flex;
  box-sizing: border-box;
  padding: 20px 20px 120px 20px;
  width: 100%;
}

section {
  flex: 1 0 auto;
}

section > div {
  margin-right: 20px;
}

aside {
  flex: 0 0 400px;
}

aside > div {
  margin-left: 20px;
}

section > div, aside > div {
  box-sizing: border-box;
  padding: 20px;
  background: rgb(239, 239, 239);
}

section form > div {
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  padding-left: 80px;
  background: url('../images/icon-128.png') no-repeat;
  background-size: 64px 64px;
}

h2 {
  font-size: 20px;
}

h2:first-child {
  margin-top: 0;
}

a {
  color: rgb(193, 56, 50);
  text-decoration: none;
  transition: color ease 250ms;
}

a:hover {
  color: rgb(210, 57, 49);
}

button, .button {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 3px;
  background: rgb(193, 56, 50);
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: background ease 500ms;
  cursor: pointer;
}

button:hover, .button:hover {
  background: rgb(210, 57, 49);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
  font-size: 14px;
  background: rgb(239, 239, 239);
}

footer a {
  display: block;
  padding-left: 40px;
  background: url('../images/sh-at.png') no-repeat;
  background-size: 32px 32px;
  background-position: center left;
  color: rgb(33, 37, 42);
}

@media screen and (min-width: 900px) {
  section > div {
    width: calc(100vw - 460px);
  }
}

@media screen and (max-width: 899px) {
  main {
    display: block;
  }

  section > div , aside > div {
    margin: 20px 0;
  }
}

@media screen and (max-width: 619px) {
  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 479px) {
  h1, footer a {
    padding-left: 0;
    background: none;
  }

  footer {
    box-sizing: border-box;
    padding-top: 14px;
    line-height: normal;
  }
}

@media screen and (max-width: 344px) {
  h1 {
    font-size: 18px;
  }
}
