label:not(.hasOwnLabel), .label {
  display: block;
  font-weight: bold;
}

select {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 100%;
}

input[type='text'] {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  border: .5px solid rgb(218, 218, 218);
  transition: border ease 250ms;
}

input:focus {
  border-color: rgb(193, 56, 50);
}

#nto-introduction {
  margin: 20px 20px 0 20px;
  padding: 10px;
  background: rgb(193,56,50);
  color: rgb(255, 255, 255);
}

#nto-introduction a {
  color: inherit;
  font-weight: bold;
  transition: color ease 250ms;
}

#nto-introduction a:hover {
  color: rgb(220, 220, 220);
}

.description {
  display: block;
  margin: 5px 0 10px 0;
  padding-left: 20px;
  font-size: 14px;
}
