label:not(.hasOwnLabel), .label {
  display: block;
  font-weight: bold;
}

select {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 100%;
}

input[type='text'] {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  border: .5px solid rgb(218, 218, 218);
  transition: border ease 250ms;
}

input:focus {
  border-color: rgb(193, 56, 50);
}

.description {
  display: block;
  margin: 5px 0 10px 0;
  padding-left: 20px;
  max-width: 400px;
  font-size: 14px;
}
