#feed-items {
  margin-top: 0;
  padding: 0;
  list-style: none;
}

#feed-items li:not(:last-child) {
  margin-bottom: 20px;
}

.readmore-button {
  display: inline-block;
  margin-top: 10px;
  width: auto;
  font-size: 11px;
}

#throbber-wrapper {
  animation: delay 500ms;
}

#throbber {
  position: relative;
  margin: 60px auto;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(193, 56, 50, 0.2);
  border-right: 1.1em solid rgba(193, 56, 50, 0.2);
  border-bottom: 1.1em solid rgba(193, 56, 50, 0.2);
  border-left: 1.1em solid rgb(193, 56, 50);
  transform: translateZ(0);
  animation: anim 1.1s infinite linear;
}

#throbber, #throbber:after {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
