section form > div {
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
}

label:not(.has-own-label) {
  display: block;
  font-weight: bold;
}

label.has-own-label {
  color: rgb(90, 90, 90);
}

select {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 100%;
}

input[type='text'] {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  border: 1px solid rgb(218, 218, 218);
  transition: border ease 250ms;
}

input[type='checkbox'] {
  vertical-align: text-bottom;
}

input:focus {
  border-color: rgb(38, 169, 224);
}

#nto-introduction {
  margin: 20px 20px 0 20px;
  padding: 10px;
  background: rgb(38, 169, 224);
  color: rgb(255, 255, 255);
}

#nto-introduction a {
  color: inherit;
  font-weight: bold;
  transition: color ease 250ms;
}

#nto-introduction a:hover {
  color: rgb(235, 235, 235);
}

.hidden-label {
  display: none !important;
}

.vertical-align > div {
  display: table-cell;
  vertical-align: middle;
}

.vertical-align label {
  margin-left: 5px;
}
