@import 'variables.css';

form > div {
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
}

label:not(.has-own-label):not(.hidden-label) {
  display: block;
  font-weight: 700;
}

label.has-own-label {
  color: var(--color-label);
}

select {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 100%;
}

input[type='text'] {
  box-sizing: border-box;
  padding: 2px 5px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  border: 1px solid var(--color-input-border);
  transition: border ease 250ms;
}

input[type='checkbox'] {
  vertical-align: text-bottom;
}

input:focus {
  border-color: var(--color-accent);
}

#nto-introduction {
  margin: 20px 20px 0;
  padding: 10px;
  background-color: var(--color-accent);
  color: var(--color-accent-contrast);
}

#nto-introduction a {
  color: inherit;
  font-weight: 700;
  transition: color ease 250ms;
}

#nto-introduction a:hover {
  color: var(--color-accent-contrast-hover);
}

.hidden-label {
  display: none;
}

.vertical-align > div {
  display: table-cell;
  vertical-align: middle;
}

.vertical-align label {
  margin-left: 5px;
}

#url-wrapper {
  position: relative;
}

#url-wrapper .error-message {
  position: absolute;
  bottom: -21px;
  right: 0;
  padding: 0 10px;
  min-height: 20px;
  line-height: 20px;
  font-size: 12px;
  background-color: var(--color-status-error);
  color: var(--color-status-error-contrast);
}

#url {
  border: 1px solid var(--color-accent);
}

#url:focus {
  border-color: var(--color-accent);
}

#url.error {
  border-color: var(--color-status-error);
}

#delete-local-file {
  font-size: 12px;
}
